.Calender .GridContainer {
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
}

.Calender .GridHeaderItem {
    border: 1px solid darkgray;
    padding: 10px;
    color: #4b4b4b;
}