.NewMeetingModal{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 1;

    width: fit-content;
    max-width: 100%;

    height: fit-content;
    max-height: 100%;

    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius:10px;

    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}
.NewMeetingModal .NewMeetingModalHeader{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.NewMeetingModal .NewMeetingModalHeader button{
    border: none;
    background-color: transparent;
    outline: none;
}
.NewMeetingModal .NewMeetingModalContent form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NewMeetingModal .NewMeetingModalContent form label{
    margin-bottom: 10px;
}
.NewMeetingModal .NewMeetingModalContent form label input{
    border: 1px solid #eeeeee;
    font-size: 1em;
    padding: 3px 5px;
}
.NewMeetingModal .NewMeetingModalContent form input[type=submit]{
    margin-top: 10px;
    border: none;
    font-size: 0.95em;
    background-color: #069CE5;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.NewMeetingModal .NewMeetingModalContent form .NewMeetingModalUserSelect{
    display: inline-block;
}