.DisplayMeetingModal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 1;

    width: fit-content;
    max-width: 100%;

    height: fit-content;
    max-height: 100%;

    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 10px;

    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}

.DisplayMeetingModal .DisplayMeetingModalHeader {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.DisplayMeetingModal .DisplayMeetingModalHeader button {
    border: none;
    background-color: transparent;
    outline: none;
}

.DisplayMeetingModal .DisplayMeetingModalContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.DisplayMeetingModal .DisplayMeetingModalContent button {
    margin-top: 10px;
    border: none;
    font-size: 0.95em;
    background-color: #EA4435;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.DisplayMeetingModal .DisplayMeetingModalContent hr {
    border: 0;
    width: 100%;
    background-color: #000;
    height: 1px;
}

.DisplayMeetingModal .DisplayMeetingModalContent > div {
    font-size: 1em;
    margin-bottom: 10px;
}

.DisplayMeetingModal .DisplayMeetingModalContent > div:nth-child(1) {
    font-size: 1.5em;
}