.GridItem {
    border: 1px solid #eee;
    padding: 10px;
}

.GridItem .GridDate {
    font-size: 0.75em;
}

.GridItem .DateCellMeetingList {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

}

.GridItem .DateCellMeetingListItem {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 0.7em;
    margin-top: 5px;
    background-color: #069CE5;
    border-radius: 4px;
    padding: 4px 8px;
    color: #fff;
}

.GridItem .DateCellMeetingListItem img {
    margin: 0px 4px 0px 0px;
}